---
---

<div class="md:shadow-none shadow-lg md:p-0 md:w-full bg-white px-2 pb-2 pt-1">
  <ul class="font-medium flex md:flex-row flex-col  px-4 pb-4 md:p-0 md:bg-transparent border-gray-100 rounded-lg md:space-x-6">
   <slot />
  </ul>
</div>