


<div class="
 bg-gray-50 z-10 w-96 stroke-orange-500 input-error file-error
  mx-auto hidden border border-gray-100 overflow-hidden rounded-lg shadow!text-start
  sm:px-9 px-5 !bg-slate-50
" style="display: none!important;"></div>