---
import "../styles/global.css";
import "../styles/main.scss";

interface Props {
	title: string,
	pageMicrodataScope: string,
}

const {
	title,
	pageMicrodataScope = "https://schema.org/WebPage",
} = Astro.props;

---

<!doctype html>
<html lang="en" itemscope itemtype={pageMicrodataScope}>
	<head>
		{/* HTML Format */}
		<meta name="application-name" content="ToyotaRentaCar">
		<title>{title} - ToyotaRent&#x3B1;Car</title>
		<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, interactive-widget=resizes-content">
		<link rel="icon" type="image/ico" href="/favicon.ico" />
		<link rel="sitemap" href="/sitemap-index.xml" />
		{/* HTML Format */}

		<slot name="head" />

		<script>
			import 'flatpickr/dist/themes/material_orange.css';
			import 'preline';
		</script>
	</head>
	<body>
		<slot />
	</body>
</html>
